@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background: #7b12b0;
  border-radius: 1rem;
}
.form::-webkit-scrollbar{

  height: "36rem";
  overflow: "auto";
}
.tooltip {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
}